/* Common */

a {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
li {
  list-style: none;
  margin: 0px;
}
ul {
  padding: 0px;
}

/* HEADER NAVBAR */

@media only screen and (min-width: 1200px) {
  .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .header-inner {
    background-color: white !important;
  }
  .nav-item > .nav-link {
    color: #595959 !important;
    padding-left: 3px;
    line-height: 30px;
  }
  .navbar img {
    width: 160px;
    height: 40px;
  }
}

/* header */

.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.logo {
  color: #ffffff;
  font-family: 'Noto Sans KR';
  font-weight: 700;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: #fe4066;
}

.header-btn {
  color: #ffffff;
  border-radius: 30px;
  background-color: rgb(41, 46, 97);
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: #fe4066;
  cursor: pointer;
}

.navbar-scroll {
  background-color: #7363ac;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
  opacity: 0.9;
}

.navbar-scroll .nav-item .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-scroll .header-btn {
  color: #ffffff;
  background-color: #fe4066;
}

.navbar-scroll .logo {
  color: #000;
  font-weight: 700;
}

header .nav {
  float: right;
}

.logom {
  background-image: url(/img/logop.svg);
  background-size: 130px no-repeat cover;
  width: 130px;
  height: 34px;
}

.logop {
  background-image: url(/img/logow.svg);
  background-size: 160px no-repeat cover;
  width: 160px;
  height: 40px;
}

@media (max-width: 991px) {
  .logop {
    display: none;
  }
}
@media (min-width: 992px) {
  .logom {
    display: none;
  }
}

/* body */

/* body common  */

section {
  width: 100vw;
}

section .contents-wrap {
  max-width: 1100px;
  margin: 0 auto;
}

/* body common  */

.title-box {
  width: 142px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: bold;
}

/* peoplein  */

.peoplein {
  height: 90vh;
  background-color: yellowgreen;
}

/* issue  */
.issue {
  width: 100%;
  height: auto;
  background-color: #716a64;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Noto Sans KR';
}

.issue-contents {
  width: 100%;
  /* min-width: 1100px; */
  background-color: #fff;
  padding: 50px 60px 10px 60px;
  margin-top: 120px;
}

.issue-topbox {
  display: flex;
}

.issue-info {
  flex: 1;
  width: 100%;
  padding-right: 20px;
  /* min-width: 50%; */
}

.issue-info .headline {
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: -0.06em;
  color: #333;
}

.issue-info .subline {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #333;
  padding: 10px 0 20px 0;
}

.issue-info .bodycopy {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #777;
}

.issue-img {
  width: 400px;
}
.issue-img img {
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .issue-img {
    width: 600px;
    margin: 15px auto;
  }
  .issue-img img {
    max-width: 600px;
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
  }
}

.issue-bottombox {
  display: flex;
  gap: 15px;
  margin-top: 60px;
  margin-bottom: 50px;
}

@media (max-width: 1023px) {
  .issue-bottombox {
    flex-direction: column;
  }
}

.issue-plus {
  width: 15%;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #333;
  padding-top: 20px;
}

.issue-subnews {
  border: 4px solid #e3d2d2;
  border-radius: 12px;
  padding: 20px 35px;
}

.issue-subnews .headline {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #333;
  padding-bottom: 10px;
}

.issue-subnews .bodycopy {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #777;
}

/* interview */

.interview {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.interview .interview-contents {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}

.interview .interview-contents .interview-mydebut {
  width: 70%;
  height: 100%;
  background-color: teal;
}

.interview .interview-contents .interview-peoplewith {
  width: 30%;
  height: 100%;
  background-color: violet;
}

/* article */

.article {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.article .article-contents {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}

.article .article-contents .article-column,
.article-essay {
  position: relative;

  width: 50%;
  height: 100%;
  background-color: indianred;
}

.article-contents .title-boxSolid {
  background-color: #9b928c;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* rights  */

.rights {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.rights .rights-contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #679da9;
  position: relative;
}

.rights-contents .title-boxSolid {
  background-color: #376e7a;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 60px;
}

.rights .rights-banner {
  width: 90%;
  height: 70%;
  background-color: #fff;
}

/* backstage */

.backstage {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.backstage .backstage-contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.backstage .backstage-contents .backstage-book,
.backstage-photo {
  width: 50%;
  height: 100%;
  border: 4px solid #999;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* news */

.news {
  width: 100%;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}

.news-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  background-color: #679da9;
  padding-bottom: 20px;
}

.news .news-contents {
  width: 80%;
  height: 230px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.news .news-listbox {
  width: 70%;
  height: 100%;
  background-color: chocolate;
}

.news .news-btnbox {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: lightblue;
}

.news-btn {
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}
