/* main  */
section .main {
  height: 90vh;
  position: relative;
  background-image: url(/img/web_main4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 90% 50%; */
}

.main .txt-wrap {
  position: absolute;
  top: 43%;
  left: 40%;
  max-width: 400px;
}

.main .txt-wrap .tit-vol {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  text-transform: uppercase;
  padding-left: 8px;
  color: #372c10;
}

.main .txt-wrap .tit-ko {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 8px;
  color: #372c10;
  letter-spacing: -1.5px;
}

.main .txt-wrap .tit-main {
  font-family: 'Noto Serif KR', serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.3;
  padding: 15px 0;
  letter-spacing: -4.5px;
  color: #675119;
}
.main .txt-wrap .main-txt {
  font-family: 'Noto Serif KR', serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: -0.2px;
  text-align: justify;
  padding-left: 9px;
  color: #372c10;
}

/* main media query  */

@media screen and (max-width: 1199px) {
  section .main {
    background-position: 30% 40%;
  }
  .main .txt-wrap {
    position: absolute;
    top: 43%;
    left: 40%;
    max-width: 400px;
  }
}

@media screen and (max-width: 767px) {
  section .main {
    background-position: 20%;
  }
  .main .txt-wrap {
    position: absolute;
    top: 47%;
    left: 43%;
    color: #fff;
  }
  .main .txt-wrap .tit-vol {
    font-size: 0.9rem;
    line-height: 1.3;
  }

  .main .txt-wrap .tit-ko {
    font-size: 0.9rem;
  }

  .main .txt-wrap .tit-main {
    font-size: 2.8rem;
    line-height: 1.1;
    padding: 10px 0;
  }
  .main .txt-wrap .main-txt {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  section .main {
    background-position: 18%;
    height: 95vh;
  }
  .main .txt-wrap {
    position: absolute;
    top: 52%;
    left: 48%;
    color: #fff;
  }
  .main .txt-wrap .tit-main {
    font-size: 2.2rem;
    line-height: 1.1;
    padding: 10px 0;
  }
  .main .txt-wrap .main-txt {
    display: none;
  }
}

/*////////////////////////////*/
/* content > con-issue  */

.con-issue {
  background-color: #937b63;
  display: flex;
  justify-content: center;
}
.con-issue .inner {
  max-width: 1100px;
  position: relative;
  background-color: #fff;
  margin-top: 120px;
}

.con-issue .tit-box-color {
  position: absolute;
  top: -50px;
  left: 0;
  width: 160px;
  height: 50px;
  background-color: #c9906a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-issue .tit-box-txt {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.issue-box {
  padding: 50px;
  font-family: 'Noto Sans KR, san-serif';
  display: flex;
  flex-direction: column;
  color: #444;
}

.issue-box-top {
  margin-bottom: 10px;
}

.issue-box-top,
.issue-box-bottom {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
}

.issue-box h3 {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.issue-box h5 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.4px;
}
.issue-box h6 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.2px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #888;
}
.issue-box-top p.body-txt {
  height: 120px;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-overflow: ellipsis;
  text-align: justify;
  color: #666;
}

.issue-box-top p.body-txt:hover {
  font-weight: 500;
  color: #c1534d;
  cursor: pointer;
  text-decoration: underline;
}

.issue-box .txt-wrap {
  width: 50%;
}
.issue-box .img-wrap {
  flex: 1;
  height: 200px;
  margin-left: 30px;
  background-image: url(/img/issue_index1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.issue-box-bottom {
  gap: 15px;
}

.issue-box-bottom .issuePlus {
  width: 180px;
  margin-right: 20px;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 600;
  color: #ac6e6a;
}

.issue-box-bottom .issue-subbox {
  border: 3px solid #dfd1d0;
  border-radius: 14px;
  padding: 30px;
}
.issue-box-bottom p.body-txt {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-overflow: ellipsis;
  text-align: justify;
  margin: 0;
  color: #666;
}

.issue-box-bottom p.body-txt:hover {
  font-weight: 500;
  color: #c1534d;
  cursor: pointer;
  text-decoration: underline;
}

/* con-issue media query  */

@media (max-width: 999px) {
  .issue-box .txt-wrap {
    width: 55%;
  }
  .issue-box-bottom {
    gap: 10px;
  }
  .issue-box-bottom .issuePlus {
    width: 150px;
    margin-right: 15px;
  }
  .issue-box-top {
    margin-bottom: 30px;
  }
  .issue-box-top p.body-txt {
    height: 85px;
    overflow: hidden;
  }
}
@media (max-width: 869px) {
  .issue-box-top {
    margin-bottom: 0px;
  }
  .issue-box-bottom {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: space-between;
  }
}
@media (max-width: 799px) {
  .issue-box-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
  }

  .issue-box .txt-wrap {
    width: 100%;
  }
  .issue-box .img-wrap {
    width: 100%;
    height: 100%;
    background-image: url(/img/issue_index1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 30px 0 0 0;
  }
  .issue-box-top p.body-txt {
    margin-bottom: 0;
  }
}

/*////////////////////////////*/
/* content > con-interview  */

.con-interview {
  display: flex;
  justify-content: center;
}

.con-interview .inner {
  max-width: 1100px;
  position: relative;
  display: flex;
  justify-content: center;
}

/* .con-interview .tit-box-wht {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #9b928c;
}

.con-interview .tit-box-wht .tit-box-txt {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
} */

.con-interview .inner .interview-wrap {
  width: 100vw;
  display: flex;
  gap: 30px;
}
.mydebut {
  width: 70%;
  height: 500px;
  background-color: #000;
  background-image: url(/img/peoplein2_index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .mydebut .txt-wrap {
  padding: 130px 0px 90px 70px;
} */

.mydebut .txt-wrap h3 {
  position: absolute;
  top: 335px;
  left: 70px;
  font-size: 30px;
  color: #5b5450;
  margin-bottom: 30px;
}

.mydebut .txt-wrap p {
  position: absolute;
  top: 385px;
  left: 71px;
  font-size: 15px;
  font-weight: 400;
  color: #5b5450;
  letter-spacing: -0.5px;
  text-align: justify;
}

.mydebut .txt-wrap p:hover {
  color: #9b928c;
  text-decoration: underline;
  cursor: pointer;
}

.peoplewith {
  width: 30%;
  height: 500px;
  background-color: #000;
  position: relative;
  background-image: url(/img/peoplewith_index.jpg);
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: 16% -175px;
}

.con-interview .tit-box-wht {
  position: absolute;
  top: 280px;
  left: 4px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #9b928c; */
}

.con-interview .tit-box-wht .tit-box-txt {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.peoplewith h3 {
  font-size: 24px;
  color: #eae7e6;
  /* margin-bottom: 30px;
  padding: 130px 0px 90px 50px; */
  position: absolute;
  top: 395px;
  left: 30px;
}

.peoplewith h3:hover {
  color: #83c9b9;
}

.con-interview .peoplewith .tit-box-wht {
  position: absolute;
  top: 341px;
  left: -18px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #9b928c; */
}

/* con-interview media query  */

@media (max-width: 900px) {
  .mydebut {
    width: 60%;
    height: 500px;
    background-color: #000;
    background-image: url(/img/peoplein2_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65% 20%;
  }
  .peoplewith {
    width: 40%;
  }
  .mydebut .txt-wrap h3 {
    left: 49px;
  }
  .mydebut .txt-wrap p {
    left: 52px;
  }
  .con-interview .tit-box-wht {
    width: 211px;
  }
}

@media (max-width: 790px) {
  .mydebut {
    background-position: 75% 20%;
  }
  .mydebut .txt-wrap h3 {
    top: 186px;
  }
  .mydebut .txt-wrap p {
    display: none;
  }
  .con-interview .tit-box-wht {
    top: 138px;
  }
}

@media (max-width: 716px) {
  .con-interview .inner .interview-wrap {
    flex-direction: column;
  }

  .mydebut,
  .peoplewith {
    width: 100vw;
    height: 300px;
  }
}

/* @media (max-width: 1023px) {
  .interview-wrap {
    gap: 20px;
  }
  .mydebut .txt-wrap {
    padding: 130px 380px 60px 70px;
  }
}
@media (max-width: 900px) {
  .interview-wrap {
    flex-direction: column;
  }
  .mydebut {
    width: 100%;
    height: 300px;
    background-color: #000;
    background-image: url(/img/peoplein2_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mydebut .txt-wrap {
    padding: 80px 450px 90px 70px;
  }

  .mydebut .txt-wrap p {
    display: none;
  }
  .peoplewith {
    width: 100%;
    height: auto;
    background-image: url(/img/peoplewith83-1.jpg);
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: 0% 25%;
  }

  .con-interview .tit-box-wht {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9b928c;
  }
}

@media (max-width: 630px) {
  .mydebut .txt-wrap {
    padding: 130px 320px 60px 70px;
  }
  .mydebut .txt-wrap p {
    max-height: 250px;
  }
  .mydebut {
    background-image: url(/img/peoplein2_index.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 88% 10%;
  }
} */

/*////////////////////////////*/
/* content > con-article  */
.con-article {
  display: flex;
  justify-content: center;
}

.con-article .inner {
  max-width: 1100px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.con-article-wrap {
  display: flex;
}

.article-box .img-wrap {
  height: 250px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.column-box {
  margin-right: 30px;
}
.column-box,
.essay-box {
  position: relative;
}

.column-box .img-wrap {
  background-image: url(/img/columnbg_83.jpg);
  background-size: cover;
}
.essay-box .img-wrap {
  background-image: url(/img/essaybg_1.jpg);
}

.con-article .article-box h4 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
  letter-spacing: -1px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 0.5px solid #444;
}

.con-article .article-box .txt-wrap p {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  letter-spacing: -0.5px;
  line-height: 1.6;
  text-align: justify;
}

.con-article .article-box .txt-wrap p:hover {
  color: #c9906a;
  cursor: pointer;
}

.article-box .tit-box-wrap {
  position: absolute;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #c9906a;
}

.column-box .tit-box-wrap {
  top: -70px;
  left: 0;
}

.essay-box .tit-box-wrap {
  top: -70px;
  left: 0;
}

.column-box .tit-box-color {
  width: 160px;
  height: 50px;
  background-color: #c9906a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.essay-box .tit-box-color {
  width: 160px;
  height: 50px;
  background-color: #c9906a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-article .tit-box-txt {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

/* con-article media query  */
@media (max-width: 869px) {
  .con-article-wrap {
    flex-direction: column;
    width: 88%;
  }
  .article-box {
    display: flex;
  }
  .column-box {
    margin-right: 0;
    margin-bottom: 100px;
  }
  .essay-box {
    margin-bottom: 20px;
  }
  .article-box .img-wrap {
    width: 40%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
  }
  .article-box .txt-wrap {
    width: 60%;
  }
  .con-article .article-box h4 {
    font-size: 1.4rem;
  }
}

@media (max-width: 649px) {
  .article-box {
    flex-direction: column;
  }
  .article-box .txt-wrap {
    width: 100%;
  }
  .article-box .img-wrap {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*////////////////////////////*/
/* content > con-article  */
.con-rights {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.con-rights .inner {
  width: 1100px;
  max-width: 1100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.con-rights .rights-box {
  width: 100%;
  height: 270px;
  background-color: #679da9;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-bottom: 47px;
  position: relative;
}

.rights-box .tit-box-color {
  position: absolute;
  top: 0;
  left: 50px;
  width: 160px;
  height: 50px;
  background-color: #376e7a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rights-box .tit-box-txt {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.rights-box .rights-wrap {
  width: calc(100% - 50px);
  height: 172px;
  background-color: #679da9;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.rights-wrap .rights-con-box {
  width: 340px;
  height: 172px;
  background-color: #36ded0;
}

.rights-wrap .rights-con-box.bgimg01 {
  background-image: url('/img/bgimg01.jpg');
  background-size: cover;
}
.rights-wrap .rights-con-box.bgimg01:hover {
  background-image: url('/img/bgimg01-1.jpg');
  background-size: cover;
  cursor: pointer;
}
.rights-wrap .rights-con-box.bgimg02 {
  background-image: url('/img/bgimg02.jpg');
  background-size: cover;
}
.rights-wrap .rights-con-box.bgimg02:hover {
  background-image: url('/img/bgimg02-1.jpg');
  background-size: cover;
  cursor: pointer;
}
.rights-wrap .rights-con-box.bgimg03 {
  background-image: url('/img/bgimg03.jpg');
  background-size: cover;
}
.rights-wrap .rights-con-box.bgimg03:hover {
  background-image: url('/img/bgimg03-1.jpg');
  background-size: cover;
  cursor: pointer;
}

/* con-article media query  */

@media (max-width: 649px) {
  .con-rights .rights-box {
    height: 595px;
  }
  .rights-box .rights-wrap {
    width: 100%;
    height: 490px;
    flex-direction: column;
  }
  .rights-wrap .rights-con-box {
    width: 100%;
    height: 150px;
  }
  .con-rights .rights-box {
    width: 100%;
    padding-left: 50px;
    padding-top: 50px;
    align-items: flex-start;
  }
}

/*////////////////////////////*/
/* content > con-photobook  */
.con-photobook {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.con-photobook .inner {
  width: 1100px;
  max-width: 1100px;
  position: relative;
  display: flex;
  justify-content: center;
}
.photobook-wrapper {
  width: 100%;
  display: flex;
}

.photo-box,
.book-box {
  width: 50%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #cacaca;
  border-radius: 10px;
}

.photo-box {
  margin-right: 30px;
  /* background-color: #376e7a; */
  background-image: url(/img/photoessay_4.jpg);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: 1% 34%;
}

.book-box {
  /* background-color: #376e7a; */
  background-image: url(/img/books.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 37% 73%;
}

.photobook-wrapper span {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

/* con-photobook media query  */

@media (max-width: 499px) {
  .photobook-wrapper {
    flex-direction: column;
    padding: 15px;
  }
  .photo-box {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .photo-box,
  .book-box {
    width: 100%;
  }
}

/*////////////////////////////*/
/* content > con-news  */
.con-news {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.con-news .inner {
  width: 1100px;
  max-width: 1100px;
  position: relative;
  display: flex;
  justify-content: center;
}
.con-news-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 41px 0px 55px;
  background-color: #679da9;
  position: relative;
}

.con-news-box .tit-box-color {
  position: absolute;
  top: 0;
  left: 50px;
  width: 160px;
  height: 50px;
  background-color: #376e7a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-news-box .tit-box-txt {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.news-wrap {
  display: flex;
  gap: 20px;
}

.con-news-box .logo-box {
  width: 180px;
  height: 250px;
  background-image: url(/img/Kobpra_CI_web_symbol_white.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% -5%;
  margin-right: 20px;
}
.news-wrap .txt-box li {
  width: 500px;
  border-bottom: 1px solid #fff;
}

.news-wrap .txt-box li a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 2.8;
}

.news-wrap .btn-box-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.news-wrap .btn-box-wrap .btn-box {
  display: flex;
  border: 2px solid #fff;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 80px;
  border-radius: 10px;
}
.news-wrap .btn-box-wrap .btn-box span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .con-news .inner {
    width: 100vw;
  }
  .news-wrap {
    flex-direction: column;
    gap: 0px;
  }
  .news-wrap .txt-box li {
    width: 480px;
  }
  .news-wrap .btn-box-wrap {
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    margin-bottom: 20px;
  }
  .btn-box-wrap .btn-box:nth-child(1) {
    margin-right: 18px;
  }
  .con-news-box .logo-box {
    height: 277px;
    margin-right: 40px;
  }
}
@media (max-width: 818px) {
  .con-news-box .logo-box {
    display: none;
  }
}

@media (max-width: 550px) {
  .news-wrap .txt-box li {
    width: 380px;
  }
  .news-wrap .btn-box-wrap {
    display: flex;
    flex-direction: column;
  }
  .news-wrap .btn-box-wrap .btn-box {
    width: 100%;
  }
}
