.issue .issue-contents {
  position: relative;
  background-color: #fff;
  margin-top: 120px;
}

.title-boxSolid {
  background-color: #bcb2ab;
  color: #fff;
  position: absolute;
  top: -57px;
  left: 0;
}

.issue-top {
  width: 100%;
  padding: 70px 60px 20px 60px;
  display: flex;
}

.issue-topText {
  flex: 1;
  /* width: 55%; */
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}
.issue-topText h2 {
  font-weight: 500;
  height: 40px;
  font-size: 30px;
  letter-spacing: -1px;
  color: #222;
}
.issue-topText h5 {
  height: 40px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.9px;
  color: #222;
  border-bottom: 0.3px solid #bfbfbf;
  margin-bottom: 15px;
}
.issue-topText p {
  /* height: 130px; */
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: -0.7px;
  text-align: justify;
  color: #666;
}
.issue-topImage {
  /* width: 45%; */
  width: 400px;
  height: auto;
  background: url('/83/img/issue_body2.jpg') no-repeat top center / cover;
  border-radius: 8px;
}

.issue-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 45px;
  margin-bottom: 20px;
}

.issue-bottomWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 0 60px 0 60px;
}

.issue-plus {
  width: 60px;
  font-weight: 600;
  color: #8a6d6d;
  font-size: 20px;
  margin-top: 40px;
}
.issue-sub {
  width: 438px;
  height: 100%;
  border: 4px solid #efe5e4;
  border-radius: 20px;
}

.issue-sub .issue-subWrap {
  padding: 35px;
}

.issue-sub h4 {
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #8a6d6d;
  border-bottom: 0.3px solid #bfbfbf;
  margin-bottom: 15px;
}

.issue-sub p {
  /* height: 130px; */
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: -0.7px;
  text-align: justify;
  color: #666;
  margin: 0;
}
